**/.snakemake/
**/__pycache__/
slurm-*.out
*.tmp
*.log
*.done
*.installed
**/backup
accessions_list.txt
drep_mags_paths.txt
genomes_drep_mags_paths.txt
genomes_paths.txt
genomes_list.txt
mags_list.txt
samples_list.txt
data_*
results*
*results
../results/*
